@import 'tailwindcss';


* {
    font-family: var(--font-orbitron);
}

.font-kanit {
    font-family: var(--font-kanit);
}

.glow-text {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
    transition: text-shadow 0.3s ease-in-out;
}

.glow-text:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);
}
